# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.8"

before_install:
  - python --version
  - pip install -U pip
  - pip install coveralls
  - pip install -r requirements.dev

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - pip install -r requirements.txt

# command to run tests, e.g. python setup.py test
script:
    python -m unittest discover tests/

after_success:
    coveralls
